<!DOCTYPE html>
<html lang="pl">
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navigation', { menuLinks, activeLinkPath }) %>
    <main>
      <h1>404 - Not Found</h1>
    </main>
  </body>
</html>
