<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Shop - Add product</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <% include partials/navigation.ejs { menuLinks: MENU_LINKS, activeLinkPath: '/product/add' } %>
    </nav>
    
    <main>
        <h1 class="heading">Add Product</h1>

        <form class="form" action="/product/add" method="POST">
            
            <div class="form__group">
                <label class="form__label" for="name">Name</label>
                <input class="form__input" type="text" id="name" name="name" />
            </div>
            
            <div class="form__group">
                <label class="form__label" for="description">Description</label>
                <input class="form__input" type="text" id="description" name="description" />
            </div>
            
            <button class="button" type="submit">Add</button>
        </form>
    </main>
</body>
</html>
